/*Styles boutons */
#boutons {
  max-width: 600px;
  width: 100%;
  height: 100px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-family: "montserratBold", Arial, serif;
  font-size: 20px;
  background: #fff;
  color: #000;
  cursor: pointer;
}

#boutons:last-child {
  margin-bottom: 100px;
}

/* Animation des boutons */
.slide:hover,
.slide:focus {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.slide {
  --hover: #f08011;
}

button {
  transition: 0.3s;
}
button:hover {
  color: #fff !important;
  background: #f08011 !important;
}

/* RESPONSIVE */
@media screen and (max-width: 1024px) {
  #boutons {
    max-width: 500px;
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  #boutons {
    max-width: 400px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1900px) {
  #boutons {
    max-width: 720px;
  }
}

/* Giga écran : 1900
Tablette Landscape : 1024
Tablette : 768
Mobile : 480 */
