footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 10px;
  text-align: center;
}

footer p {
  font-size: 12px;
}

#developperName {
  font-family: "montserratRegular";
}

#developperName span {
  font-family: "montserratBold";
}

#dateCreation {
  font-size: 10px;
}

/* RESPONSIVE */
@media screen and (max-width: 1024px) {
  footer {
  }
}
